<div class="content">

	<div class="page-header">
		<h1><%= @level.name %></h1>
	</div>

	<div class="row">

		<div class="span10">
				<h3><%= @quiz.question %></h3><br>
				<%= render 'form' %>	
		</div>
		
		<div class="span4">
			<h3>Preguntas</h3><br>
			<ul id="quizzes-list">
			<% @level.quizzes.each do |q| %>
				<% if q == @quiz %>
					<li><a href='javascript:void(null);' class='quiz-link current'><%= q.question.truncate(20) %></a></li>
				<%else%>
					<li><%= link_to q.question.truncate(20), level_quiz_path(@level,q), class: 'quiz-link' %></li>
				<% end %>
			<% end %>
			</ul>
		</div>
		
	</div>

</div>
<%= render 'modal' %>
