<div class="page-header">
	<div class="row">
		<div class="span10">
			<h1><%= @level.name %></h1>
		</div>
		<%= render 'shared/tutor_block' %>
	</div>
</div>

<div class="central-content">
	<div class="row">

		<div class="span10">
				<h4>Pregunta <%= @quiz.sequence %>:</h4><br>
				<blockquote><p class="question span9"><%= raw(@quiz.question) %></p></blockquote><br>
				<%= render 'form' %>	
		</div>
	
		<div class="span4">
			<h3>Preguntas</h3><br>
			<ul id="quizzes-list">
			<% @level.quizzes.order("sequence ASC").each do |q| %>
		  	<% if q == @quiz %>
					<li><a href='javascript:void(null);' class='quiz-link current'><%= no_link_quiz_answer(q, current_user) + " " + raw(q.question.truncate(25)) %></a></li>
				<%else%>
					<li><%= link_to("#{no_link_quiz_answer(q, current_user)} #{q.question.truncate(25)}".html_safe, level_quiz_path(@level,q), class: 'quiz-link') %></li>
				<% end %>
			<% end %>
		
			</ul>
		</div>
	
	</div>
</div>
	
<%= render 'modal' %>
