<br>
<h2>Registro</h2>
<br>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :multipart => true) do |f| %>

<% if devise_error_messages! != "" %>
	<div class="alert-message block-message error span9">
		<%= devise_error_messages! %>
	</div><br>
<% end %>	
	<div>
	  <%= f.label :passport %>
	  <%= f.text_field :passport, placeholder: "ej: 10129923-3" %>
	</div>
	<br>
	
	<div>
	  <%= f.label :name %>
	  <%= f.text_field :name, placeholder: "ej: Cristóbal" %>
	</div>
	<br>
	
	<div>
	  <%= f.label :surname %>
	  <%= f.text_field :surname, placeholder: "ej: Colón" %>
	</div>
	<br>

  <div>
		<%= f.label :email %>
	  <%= f.email_field :email, placeholder: "ej: c.colon@america.org" %>
	</div>	
	<br>

	<div>
	  <%= f.label :password %>
	  <%= f.password_field :password %>
	</div>
	<br>
	
  <div>
		<%= f.label :password_confirmation %>
	  <%= f.password_field :password_confirmation %>
	</div>
	<br>
	<br>
	<div>
		<%= f.label :avatar, "Agregar una imagen" %>
		<%= f.file_field :avatar, class: "span6" %>	
	</div>
	<br>
	<br>
  <div><%= f.submit "Registrar", disable_with: "Registrando...", class: "btn primary" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
