<div class="well span9">
	<div class="topic-header">
		<h4><%= comment.name %></h4><br>
		<%= image_tag comment.avatar.thumb.url, width: 50 %>	
	</div>
	
	<div class="on">
	  <%= simple_format(truncate(comment.text, :length => 300, :omission => '... ' + link_to('Ver más +', '#', :class => 'view_full_comment'))) %>
	</div>
	<div class="off" style="display:none">
	  <%= simple_format(comment.text) %>
	  <p><%= link_to("Esconder", '#', :class => 'view_full_comment') %></p>
	</div>
	
	
	<span>hace <%= distance_of_time_in_words_to_now(comment.created_at) %></span><br>
	
	<% if comment.can_be_removed_by?(current_user) %>
	  <%= link_to("Eliminar comentario", topic_comment_path(@topic, comment), :class => 'remove_comment', :method => :delete, :confirm => '¿Estás seguro?') %>
	<% end %>
</div>
