<div class="content">
	
	<div class="page-header">
		<div class="row">
		<div class="span10">
			<h1><%= link_to "Foro: ", topics_path, class: "reset_color" %> <%= @topic.name %></h1>
		</div>
		<% if tutor_block %>
		<div class="span4">
			<h4>Su tutor(a) es: <%= tutor_block %></h4>
		</div>
		<% end %>
		</div>
	</div>

<div class="row">
	<div class="span10">
	<%= form_for [@topic, @comment] do |f| %>
	  <%= f.text_area :text, rows: 4, class: "span9" %><br><br>
		<%= f.submit "Enviar", class: "btn info" %>
	<% end %>
	</div>
</div>

<div class="row">
	<%= render @comments %>
</div>

<%= will_paginate @comments, class: "digg_pagination" %>

</div>