<br><br>
<h2>Cambiar contrase単a</h2>
<br>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "Nueva contrase単a" %>
  <%= f.password_field :password %></div>
<br>
  <div><%= f.label :password_confirmation, "Confirmar nueva contrase単a" %>
  <%= f.password_field :password_confirmation %></div>
<br>
  <div><%= f.submit "Cambiar mi contrase単a e ingresar", class: "btn info" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>