<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @level.id %>
</p>

<p>
  <b>Name:</b>
  <%= @level.name %>
</p>

<%= render @level.name_partial rescue nil  %>

<%= link_to 'Edit', edit_level_path(@level) %> |
<%= link_to 'Back', levels_path %>
