<div class="page-header">
	<div class="row">
		<div class="span10">
			<h1><%= @level.name %></h1>
			<span><%= @level.subtitle.html_safe %></span>
		</div>
			<%= render 'shared/tutor_block' %>
	</div>
</div>

<div class="row">

	<div class="span10">

			<%= render @level.tag rescue nil  %>
			<br>
			<center>
				<% if @level.quizzes.first %>
					<%= link_to "Ir a Ejercicios", level_quiz_path(@level, @level.quizzes.first), class: "btn large primary span13"  %>
				<% elsif @next_level %>
					<%= link_to "Siguente Nivel", level_path(@next_level), class: "btn large primary span9"   %>
				<% end %>
			</center>
	</div>

	<div class="span4">
	</div>
</div>
