<div class="content">


	<div class="page-header">
		<div class="row">
			<div class="span10">
				<h1><%= @level.name %></h1>
			</div>
			<% if tutor_block %>
				<div class="span4">
					<h4>Su tutor(a) es: <%= tutor_block %></h4>
				</div>
			<% end %>
		</div>
	</div>

	<div class="row">

		<div class="span10">
				
				<%= render @level.tag rescue nil  %>
			
				<% if @level.quizzes.first %>
					<%= link_to "Ir a Ejercicios", level_quiz_path(@level, @level.quizzes.first), class: "btn primary"  %>
				<% elsif @next_level %>
					<%= link_to "Siguente Nivel", level_path(@next_level), class: "btn primary"   %>
				<% end %>
		</div>

		<div class="span4">
		</div>
		
	</div>
</div>
