<tr>
	<td><%= image_tag user.avatar.thumb.url, width: 30 %></td>
	<td><%= user.passport %></td>
	<td><%= user %></td>
	<td><%= user.email %></td>
	
	<% Quiz.all.each do |q| %>
		<td><%= quiz_answer(q, user) %></td>
	<% end %>
</tr>