<tr>
	<td><%= image_tag user.avatar.thumb.url, width: 30 %></td>
	<td><%= user.passport %></td>
	<td><%= user %></td>
	<td><%= user.email %></td>
	
	<% Quiz.all.each do |q| %>
		<td><%= quiz_answer(q, user) %></td>
	<% end %>
	
	<td><%= link_to "Ver respuestas", admin_user_path(user, :view_all => params[:view_all]) %></td>
</tr>