<tr>
	<td><%= image_tag user.avatar.thumb.url, width: 30 %></td>
	<td class="mailandpassword"><a href="mailto:<%= user.email %>"><%= user.email %></a><br><%= user.passport %></td>
	<td><%= link_to user.complete_name, admin_user_path(user) %></td>
	
	<% Quiz.all.each do |q| %>
		<td><%= no_link_quiz_answer(q, user) %></td>
	<% end %>


</tr>