<tr>
	<td><%= image_tag user.avatar.thumb.url, width: 30 %></td>
	<td class="mailandpassword"><a href="mailto:<%= user.email %>"><%= user.email %></a><br><%= user.passport %></td>
	<td <%= "class='mailandpassword'" if @put_tutor %>><%= link_to user.complete_name, admin_user_path(user) %>
		<% if @put_tutor %>
			<br>de: <%= user.tutor %>
		<% end %>
		</td>

	<% answers = user.answers.group_by(&:quiz_id) %>

	<% @quizes.each do |q| %>
	<td><%= answers_for_admin(q, user, answers[q.id]) %></td>
	<% end %>
	<td><%= link_to "X", admin_user_path(user.id), confirm: '¿Está seguro de que desea eliminar a '+user.name+'? (no se puede deshacer)', method: :delete %></td>

</tr>