<br>
<div class="pull-right">
	<%= form_tag admin_users_path, method: :get do %>
	  <%= search_field_tag :q, params[:q], placeholder: "Buscar" %>
	<% end %>
</div>
<br>
<ul class="tabs">
  <li <%= 'class="active"'.html_safe if params[:view_all].nil? && params[:q].nil? %>><%= link_to("Ver a mis alumnos", admin_users_path) %></li>
  <li <%= 'class="active"'.html_safe if params[:view_all] %>><%= link_to("Ver todos", admin_users_path(:view_all => true)) %></li>
</ul>

<table border="0" cellspacing="5" cellpadding="5">
	<thead>
		<tr>
			<th>Avatar</th>
			<th>CI</th>
			<th>Nombre</th>
			<th>Email</th>
			<% Quiz.all.each do |q| %>
				<th>Q <%= q.id %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<%= render @users %>
	</tbody>
</table>

<%= will_paginate @users, class: "digg_pagination" %>