
<p>
  <%= link_to "Tutores", admin_tutors_list_path %> ·
  <%= link_to "Actualizar registrados", admin_update_csv_path %>
</p>
<p>
  <strong>Versión <%= params[:version] %></strong> ·
  Otras versiones:
  <%= User.versions.map do |version|
    link_to_unless params[:version].to_i == version, version, admin_users_path(:version => version)
  end.join(", ").html_safe %>
</p>

<br>
<div class="pull-right">
  <%= form_tag admin_users_path, method: :get do %>
    <%= search_field_tag :q, params[:q], placeholder: "Buscar" %>
  <% end %>
</div>
<br>
<ul class="tabs">
  <li <%= 'class="active"'.html_safe if params[:view_all].nil? && params[:q].nil? %>><%= link_to("Ver a mis alumnos", admin_users_path(:version => params[:version])) %></li>
  <li <%= 'class="active"'.html_safe if params[:view_all] %>><%= link_to("Ver todos", admin_users_path(:view_all => true, :version => params[:version])) %></li>
</ul>
<div id="users-table">
  <div class="pull-right">
    <%= link_to("✉ Enviar e-mail", "#", class: "send_email") %>
  </div>
  <table border="0" class="users-admin" >
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Mail/Ci</th>
        <th>Nombre</th>
        <th colspan="<%= Quiz.count %>" align="center">Preguntas</th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>

<%= will_paginate @users, class: "digg_pagination" %>

<%= render partial: "shared/email_to_users", locals: { all: params[:view_all].nil? ? false : true } %>