<br>
<p><%= link_to("☜ Volver al listado", session[:back_to]) %></p>
<center>
	<div class="well span7">
		<%= image_tag @user.avatar.url, width:70 %>
		<h5><%= "#{@user} / #{@user.passport} / <a href='mailto:#{@user.email}'>#{@user.email}</a>".html_safe  %></h5>
	</div>
</center>
<div class="lista-preguntas">
	<ul>
		<% @quizzes.each_with_index do |quiz, i| %>
		<li><%= link_to_unless(@answers[i].nil?, raw(quiz.question), "#q-#{quiz.id}")%></li>
		<% end %>
	</ul>
</div> 

<div class="preguntas">
<% @answers.compact.each do |answer| %>
	<div id="q-<%= answer.quiz.id %>" class="well">
		<h4><%= raw(answer.quiz.question) %></h4>
		<%= simple_format(answer.answer) %>
	</div>
<% end %>
	
</div>

<%= form_for [:admin, @user] do |f| %>
	<%= label_tag :subject, "Asunto" %><br>
	<%= text_field_tag :subject, "Revisión de respuestas" %><br><br>
	
	<%= label_tag :body, "Mensaje" %><br>
	<%= text_area_tag :body, nil, rows: 10, class: "span8" %><br>
	<br>
  <div class="row"><%= f.submit "Chequear / Enviar", class: "btn info offset1" %></div>
<% end %>

<center>
	<div class="well span7">
		<%= image_tag @user.avatar.url, width:70 %>
		<h5><%= "#{@user} / #{@user.passport} / <a href='mailto:#{@user.email}'>#{@user.email}</a>".html_safe  %></h5>
	</div>
</center>


<% if @answers.compact.any? %>
	<p><%= link_to("☜ Volver al listado", session[:back_to]) %></p>
<% end %>