<br>
<p><%= link_to("☜ Volver al listado", session[:back_to]) %></p>

<div class="lista-preguntas">
	<ul>
		<% @quizzes.each_with_index do |quiz, i| %>
		<li><%= link_to_unless(@answers[i].nil?, quiz.question, "#q-#{quiz.id}")%></li>
		<% end %>
	</ul>
</div> 

<div class="preguntas">
<% @answers.compact.each do |answer| %>
	<div id="q-<%= answer.quiz.id %>" class="well">
		<h4><%= answer.quiz.question %></h4>
		<%= simple_format(answer.answer) %>
	</div>
<% end %>
	
</div>

<%= form_for [:admin, @user] do |f| %>
	<%= label_tag :subject, "Asunto" %><br>
	<%= text_field_tag :subject, "Revisión de respuestas" %><br><br>
	
	<%= label_tag :body, "Mensaje" %><br>
	<%= text_area_tag :body, nil, rows: 10, cols: 80 %><br>
	
  <%= f.submit "Chequear como revisado", class: "btn" %>
<% end %>

<% if @answers.compact.any? %>
	<p><%= link_to("☜ Volver al listado", session[:back_to]) %></p>
<% end %>