<div class="topbar">
	<div class="fill">
		<div class="container">	
			<%= link_to "Pasa", root_path, class: 'brand' %>
			<ul class="nav">
				<% if current_user%>
				
					<% if controller.controller_name == 'levels' && controller.action_name != 'index' %>
						<li class="dropdown active" data-dropdown="dropdown" ><a href="#" class="dropdown-toggle">Etapas</a>
					<% else %>
						<% if current_user.current_level != 0 %>
							<li class="dropdown" data-dropdown="dropdown" ><a href="#" class="dropdown-toggle">Etapas</a>	
						<% end %>
					<% end %>
				
					<ul class="dropdown-menu">
						<% @levels.each do |level| %>
							<% if level.id <= current_user.current_level %>
								<% if level == @level %>
									<li class="active"><%= link_to level.name, level %></li>
								<% else %>
									<li><%= link_to level.name, level %></li>
								<% end %>
							<% end %>
						<% end %>
					</ul>
					</li>
				
					<% if controller.controller_name == 'topics' %>
						<li class="active"><%= link_to "Foros", topics_path %></li>
					<% else %>
					  <li><%= link_to "Foros", topics_path %></li>
					<% end %>
				
				<% end %>
			</ul>
			<% if user_signed_in? %>
				<div class="pull-right logged">
					<%= current_user.email %> <%= link_to "Salir", destroy_user_session_path, :method => :delete %>
				</div>
				<%= image_tag current_user.avatar.thumb.url, height: 30, class: "logged-avatar pull-right" %>
			<% else %>
				<%= form_for "user", :url => user_session_path, :html => { class: "pull-right" } do |f| %>
				  <%= f.email_field :email, class: "input-small", placeholder: "email", id: "email" %>
				  <%= f.password_field :password, class: "input-small", placeholder: "contraseña", id: "password" %>
					<%= button_tag "Ingresar", class: "btn" %>
				<% end %>
			<% end %>
			
		</div>
	</div>
</div>