<!DOCTYPE html>
<html>
<head>
  <title>Cursouno</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	
	<header>
		<%= render 'layouts/header'%>
	</header>
	
	<div id="flash_messages" class="span6">
		<%= render 'layouts/flash'%>
  </div>
	
	<div class="container">
	
		<%= yield %>
	
	<footer>
    <p>&copy; PASA 2011<br>
		  Desarrollado por <a href="http://twitter.com/#!/matias_reyes" style="color:#404040">@matias_reyes</p>
  </footer>
	
	</div>
	
	
</body>
</html>
