<!DOCTYPE html>
<html>
<head>
  <title>24+5</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-8361632-1']);
	  _gaq.push(['_setDomainName', 'pasa.cl']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>

	<header>
		<%= render 'layouts/header'%>
	</header>
	
	<div id="flash_messages" class="span6">
		<%= render 'layouts/flash'%>
  </div>
	
	<div class="container">
		
		<div class="content">
			<%= yield %>
		</div>

		<footer>
	    	<p>
	    		&copy; PASA 2011<br>
			  	Desarrollado por <a href="http://twitter.com/#!/matias_reyes" style="color:#404040">@matias_reyes
			</p>
		</footer>
	</div>
</body>


</html>