<!DOCTYPE html>
<html>
<head>
  <title>Cursouno</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<header>
		<%= render 'layouts/header'%>
	</header>
	
	<div class="container">
		
		<div id="alert" class="span14">
			<% if notice %>
				<p class="alert-message success"><%= notice %></p>
			<% elsif alert %>
	    	<p class="alert-message warning"><%= alert %></p>
			<% end %>
		</div>
    
		<%= yield %>
	
	<footer>
    <p>&copy; PASA 2011<br>
		  Desarrollado por NonnaLabs&reg;</p>
  </footer>
	
	</div>
	
	
</body>
</html>
